# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/**/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml
